# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.tox/
venv/
.env/
.env.*
pip-commands/

# Node
node_modules/
next-env.d/

# Environment
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db